/* Global Styles */
body {
    font-family: 'Merryweather', serif; /* Merryweather font */
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  h1, h2 {
    margin: 0;
    font-family: 'Merryweather', serif; /* Merryweather font */
    color: burlywood;
  }

  header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px 0;
  }
  
  /* Main Content Styles */
  main {
    padding: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    max-width: 500px; /* Adjust the max-width as needed */
    width: 100%;
  }
  
  /* Form Styles */
  form {
    display: flex;
    flex-direction: column;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    margin-bottom: 10px;
    padding: 12px;
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 16px;
    background-color: whitesmoke; 
    border-radius: 20px;;
  }
  .password-field {
    position: relative;
  }
  
  .password-field .eye {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .password-field .eye::before {
    content: "\f06e";
    font-family: 'Font Awesome 5 Free';
    font-size: 18px;
  }
  
  .password-field .eye.active::before {
    content: "\f070";
  }
  
  button[type="submit"] {
    padding: 10px;
    background-color: lightseagreen; /* Blue color scheme */
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }
  
  /* Footer Styles */
  footer {
    text-align: center;
    margin-top: 20px;
    background-color: #333;
    color: white;
    padding: 10px 0;
  }
  
  /* Media Queries */
  @media screen and (max-width: 600px) {
    main {
      grid-template-columns: 1fr;
    }
  
    input[type="text"],
    input[type="email"],
    input[type="password"] {
      padding: 6px;
      font-size: 14px;
    }
  
    button[type="submit"] {
      padding: 8px;
      font-size: 14px;
    }
  }
  